@import "compass";
@import "sass/main.scss"; 

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,800);

body,html{
  height:100%;
  font-size:18px;
}

body{
  background: #181818;
  color:#f0f0f0;
}

form{
  color:#181818;
  input[type="text"], input[type="password"], input[type="email"], textarea, select{
    margin:10px auto;
  }
}

h1,
h2,
h3,
h4,
h5,
h6{
  margin:0;
  padding:0;
}

.overlay{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #181818;
  opacity: .5;
  filter: alpha(opacity=40);
  z-index: 2;
}

.img-responsive img{
    width:100% !important;
    height:auto;
    display:block;
}

.img-center img{
  margin: 0 auto;
  text-align: center;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.embed-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.mast-header{
  position: relative;
  background: url('../images/push_up.jpg') center center no-repeat;
  z-index:-1;
  background-size:cover;
  overflow: hidden;
  h1{
    font-size: 110px;
    font-weight: 800;
    text-align: left;
    padding-top: 400px;
    z-index:4;
    @include transition-property(color);
    @include transition-duration(1s);
  }
  #header-text{
    position: relative;
    margin-bottom:-25px;
    z-index:3;
  }
}

#full{
  display:none;
  animation-duration: 4s;
  -webkit-animation-duration: 4s;
  -moz-animation-duration: 4s;
}

video{
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  height: auto;
  width: auto;
}

.page-content{
  padding: 50px 0;
}

nav{
  width:100%;
  position: relative;
  background: #f0f0f0;
  z-index:6;
  line-height: 60px;
  height:60px;
  ul{
    margin: 0 auto; 
    text-align: center;
    padding: 0;
    li{
      margin: 0 auto; 
      padding: 0 20px;
      font-size:20px;
      display: inline-block;
      a, a:visited{
        color:#181818;
        text-decoration: none;
        &:hover{
          color:#960000;
        }
      }
    }
  }
  #menu-icon{
    position:absolute;
    display:none;
    top: 14px;
    left:10px;
  }
}

.nav-fixed{
  position:fixed;
  top:0;
  left:0;
}

.social-nav{
  position:absolute;
  top:14px;
  right:10px;
  .facebook,.twitter,.youtube{
    display:inline-block;
  }
}

.img-title{
  position: relative;
  margin-bottom:20px;
  h2{
    position: absolute;
    left:15px;
    bottom:-20px;
    font-size:100px;
  }
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
  .main-content{
    margin-top:60px;
  }
  .mast-header{
    h1{
      font-size:40px;
    }
  }
  nav{
    position:fixed;
    top:0;
    left:0;
    line-height: 35px;
    ul {
      display:none;
      //border-top: 1px solid #181818;
      margin-top: 60px;
        li{
        display:block;
        background: #f0f0f0;
        font-size:20px;
      }
    }
    #menu-icon{
      display:block;
    }
  }
  .img-title{
    h2{
      font-size:25px;
    }
  }
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {

}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 560px) {
  body,html{
    height:100%;
    font-size:14px;
  }
  .mast-header{
    h1{
      font-size: 50px;
      padding:120px 0;
      text-align: center;
    }
    #header-text{
      margin-bottom: 0;
    }
  }
  .overlay{
    opacity: .3;
    filter: alpha(opacity=30);
  }
}